<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Take A Quiz</title>
<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../bootstrap-4.3.1-dist/js/jquery.min.js"></script>
<script src="../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/css/login.css">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
    <body id="page-top">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Your Score</h1>
            </div>
            <h3>Total Questions:<%= totalQuestions %></h3>
            <h3>Total Questions Passed:<%= totalpassed %></h3>
            </div>



    </div>
    <!-- End of Content Wrapper -->
</body>
</html>
